.news{
    padding: 10px;
}
    
.news-box{
    border: 1px solid rgb(215, 218, 223);
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    box-shadow: 0px 0px 5px rgb(192, 193, 194);
}

.news-box img{
    width: 100%;
    border-radius: 4px 4px 0px 0px;
    transition: 1s all ease-in-out;
}

.news-box img:hover{
    transform: scale(0.99);
}

.news-box .news-title{
    --url: url('https://media.wired.com/photos/67030e284e9413875879f0e2/191:100/w_1280,c_limit/Best-Prime-Day-Laptop-Deals-102024-Custom-APD-Background-SOURCE-Amazon.jpg');
    height: 50px;
    /* background-image: url('https://media.wired.com/photos/67030e284e9413875879f0e2/191:100/w_1280,c_limit/Best-Prime-Day-Laptop-Deals-102024-Custom-APD-Background-SOURCE-Amazon.jpg'); */
    background-image: var(--url);
    /* filter: blur(1px);
    -webkit-filter: blur(1px); */
}

.news-box .news-title a{
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 1s all ease-in-out;
}

.news-box .news-title a:hover{
    font-size: 17px;
}